h3{
  margin: 0;
}

.navbar 
{
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.bg{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  text-align: center;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

/* .dashboard-header{

  font-family: 'DM Serif Display', serif;
  margin: 0px;
} */

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo 
{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text 
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg 
{
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) 
{
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) 
{
  .navbar 
  {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover 
  {
    width: 16rem;
  }

  .navbar:hover .link-text 
  {
    display: inline;
  }

  .navbar:hover .logo svg 
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text 
  {
    left: 0px;
  }
}

.dark 
{
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light 
{
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar 
{
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon 
{
  display: none;
}

.dark #darkIcon 
{
  display: block;
}

.light #lightIcon 
{
  display: block;
}

.solar #solarIcon 
{
  display: block;
}

.main-box 
{
  display: grid;
}
body 
{
  height: 150vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
}
.header 
{
  background-color: beige;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  margin: 0px;
}
.side-bar 
{
  background-color: #fff;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: rgb(75, 75, 75);
  font-weight: 800;
  text-align: center;
  margin-left: 75px;
}

.username{
  color: black;
}
.main 
{
  /* background-color: #337ccf; */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c4 c5"
    "c4 c4 c6";
  gap: 20px;
  background-color: beige;
  background-size: cover;
}
.card 
{
  
  border-radius: 45px;
  padding: 25px;
  /* box-shadow: 12px 12px 12px 12px rgb(83, 80, 80);*/
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
}
.card h1{
  color: #000000;
}
.card:nth-child(1) 
{
  grid-area: c1;
}
.card:nth-child(2) 
{
  grid-area: c2;
}
.card:nth-child(3) 
{
  grid-area: c3;
}
.card:nth-child(4) 
{
  grid-area: c4;
}
.header h1 
{
  margin-left: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
}
.card-1 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.upcoming-apps 
{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  margin: 8px;
  text-align:center;
}
.notifications{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  margin: 8px;
  text-align:center;
}
.appointment{
  text-align: center;
}

.notif{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  text-align: center;
  border-radius: 10%;
  background-color: #50ca6cb9;
}
.steps 
{
  margin: 8px;
  font-family: 'DM Serif Display', serif;
font-family: 'Quattrocento', serif;
}

.heart-rate 
{
  font-family: 'DM Serif Display', serif;
font-family: 'Quattrocento', serif;
  margin: 8px;
}

.running 
{
  height: 40px;
  padding: 25px;
  margin-left: 10px;
  border-radius: 150px;
  background-color: rgba(128, 128, 128, 0.336);
}

.heartbeat 
{
  height: 110px;
  padding: 25px;
  border-radius: 150px;
  background-color: rgba(128, 128, 128, 0.336);
}

.sleep{
  font-family: 'DM Serif Display', serif;
font-family: 'Quattrocento', serif;
  margin: 8px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.static-data
{
  height: 100%;
  display: grid;
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
}

.card-1-data
{
  display: flex;
  justify-content: space-between;
}

.card-1-images
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heartbeat
{
  height: 40px;
}

.heart-data
{
  padding-left: 3.2px;
}
.sleep-logo
{
  height: 30px;
  margin-left: 80px;
  padding: 25px;
  border-radius: 100px;
  background-color: rgba(128, 128, 128, 0.336);
}

.app-img
{
  height: 40px;
  margin-left: 150px;
  padding: 22px;
  border-radius: 100px;
  background-color: rgba(128, 128, 128, 0.336);
}

h3{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
}
.bmi{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  text-align: center;
}


.calender{
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
}

.htwt{
  font-family: 'DM Serif Display', serif;
  font-family: 'Quattrocento', serif;
  margin: 8px;
  text-align:center;
}

.calender-img
{
  height: 500px;
  object-position: center;
}

.blood-sugar-graph
{
  width: 400px;
}
.card h3{
  color:rgba(128, 128, 128, 0.756);
}
.card{
  background-color: #ffffff;
}
.htwt
{
  display: flex;
  justify-content: space-between;
}
.dynamic{
  color: #000000;
}

.bmi-img
{
  height: 30px;
  margin-left: 150px;
  padding: 25px;
  border-radius: 150px;
  background-color: rgba(128, 128, 128, 0.336);
}

.logout {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.logout:hover {
	text-decoration: none;
	text-decoration-color: red;
	-webkit-text-decoration-color: red;
}

.company{
  text-decoration: none;
	color: rgb(255, 255, 255);
}

.company:hover {
	text-decoration: none;
	text-decoration-color: red;
	-webkit-text-decoration-color: red;
}
